<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>862765385771-g1js3gonueq8hrvhlsc0s11gr9jvvupc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862765385771-g1js3gonueq8hrvhlsc0s11gr9jvvupc</string>
	<key>GCM_SENDER_ID</key>
	<string>862765385771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vanness-wu.animal-adoption</string>
	<key>PROJECT_ID</key>
	<string>animal-adoption</string>
	<key>STORAGE_BUCKET</key>
	<string>animal-adoption.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:862765385771:ios:463dc67f7f42563c</string>
	<key>DATABASE_URL</key>
	<string>https://animal-adoption.firebaseio.com</string>
</dict>
</plist>